.apply-card {
    cursor: pointer;
}

.apply-card:hover {
    background-color: #535bf2;
}

.apply-card:nth-child(even) {
    background-color: #f2f2f2;
}
.apply-card:nth-child(even):hover {
    background-color: #c6c6c6;
}

.apply-card:nth-child(odd) {
    background-color: #ffffff;
}
.apply-card:nth-child(odd):hover {
    background-color: #c6c6c6;
}

.status-typo {
    font-weight: bold;
    text-shadow:
            1px 1px 1px #eee,
            -1px -1px 1px #eee,
            -1px 1px 1px #eee,
            1px -1px 1px #eee;
}

.status-typo.PLANNED,
.status-typo.CREATED {
    color: #808080; /* Grau */
}

.status-typo.SENT,
.status-typo.CONFIRMED,
.status-typo.UNDER_REVIEW {
    color: #007BFF; /* Blau */
}

.status-typo.INVITATION {
    color: #ef9d03; /* Orange */
}

.apply-card.INVITATION {
    background-color: #fdcd7d;
}

.status-typo.ACCEPTED {
    color: #28A745; /* Grün */
}

.apply-card.ACCEPTED {
    background-color: #0c0;
}

.status-typo.REJECTED,
.status-typo.WITHDRAWN {
    color: #DC3545; /* Rot */
}

.status-typo.ARCHIVED {
    color: #343A40; /* Dunkelgrau */
    text-shadow: none;
    font-style: italic;
    font-weight: normal;
}

.apply-card.ARCHIVED {
    background-color: #999;
}

.info-box {
    z-index: 50;
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    background-color: #535bf2;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}

.reload-button {
    left: 20%;
}

.favorite-button {
    right: 50%;
}

.archiv-button{
    right: 25%
}

.add-button {
    right: 20%;
}

.reload-button:hover {
    left: calc(20% - 3px);
}

.favorite-button:hover {
    right: calc(50% - 3px);
}

.add-button:hover {
    right: calc(20% - 3px);
}

.archiv-button:hover {
    right: calc(25% - 3px);
}

.reload-button, .add-button, .favorite-button, .archiv-button {
    position: fixed;
    z-index: 27;
    border: none;
    background: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    bottom: 38px;
    transition: transform 0.2s ease-in-out;
}

.reload-button:hover, .add-button:hover, .favorite-button:hover, .archiv-button:hover {
    width: 41px;
    height: 41px;
    bottom: 35px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.reload-button img.rotate, .favorite-button img.rotate, .archive-button img.rotate {
    animation: rotate 0.25s ease-in-out;
}

.add-button img.rotate {
    animation: rotate 1.2s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.favorite-button:active {
    transform: scale(1.2);
}

.button-favorite {
    border: none;
    background-color: #00000000;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow-y: auto;
}

.table-application-list {
    border-collapse: collapse;
    width: 70vw;
    overflow: hidden;
    margin: 0 auto;
}

.overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.ordered-list {
    padding-left: 20px;
    list-style-type: decimal;
    list-style-position: inside;
    color: #000;
    width: 50vw;
}

.table-application-list th,
.table-application-list td {
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    text-align: left;
}

td {
    text-align: left;
}

td button {
    text-align: right;
}

.function {
    text-align: right;

}

thead {
    font-weight: bold;
    background-color: rgba(91, 121, 213, 1);
    color: #fff;
}

body {
    padding-bottom: 80px;
    height: calc(100vh - 7.5em);
    background-image: url('../../../public/blackboard-2618793_1920.jpg');
    background-size: 100% auto ;
    background-position: center calc(calc(100vw / 35)) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #e8c8a3;
}

.loading-spinner {
    z-index: 26;
}

table, tbody {
    height: auto;
}

.heart {
    color: #5B79D5;
    font-size: larger;
}

.caption {
    color: #fff;
    text-align: left;
    font-size: xx-large;
    padding-bottom: 0.5rem;
}