.create-form-layer {
    position: relative;
    top: 0;
    width: 65vw;
    height: 60vh;
    background-color: #7B99FD;
    z-index: 30;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #1a1a1a;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fieldset {
    width: 61vw;
    height: auto;
    _padding: 0;
    _margin: 0;
    border: none;
}

.details-title {
    color: #fff;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    }

.floating-label {
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: #666;
}

.input {
    flex: 1 1 45%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input-labels {
    font-size: 14px;
    color: #fff;
}

.inputfields-with-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.close-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #f00;
    border: 1px solid #f00;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}
.submit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #f00;
    border: 1px solid #f00;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}
.form-buttons {
    position: relative;
    display: flex;
    justify-content: space-around;
    right: 0;
    bottom: 1px;
    width: 100%;
    margin-top: 1.5rem;
}

form fieldset label {
    color: #fff;
}

.button-delete {
    color: #fff;
    background-color: #f00;
    border-color: #fff;
}

.button-save {
    color: #000;
    background-color: #0D0;
    border-color: #fff;
}

.detail-entry {
    text-align: left;
    font-size: smaller;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    _border: 1px solid #000;
    white-space: nowrap;
}

.detail-entry-label {
    font-weight: bold;
    flex-basis: 200px;
    background-color: #646cff;
    border-radius: 7px 0 0 7px;
    border-left: 1px solid #212260;
    border-top: 2px solid #212260;
    border-bottom: 2px solid #212260;
}

.detail-entry-value {
    color: #212260;
    background-color: #fff;
    border-radius: 0 7px 7px 0;
    border-right: 1px solid #212260;
    border-top: 2px solid #212260;
    border-bottom: 2px solid #212260;
}

.detail-entry-label, .detail-entry-value {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.button-list {
    border: none;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    text-align: left;
    color: #343A40;
}

.date {
    text-align: right;
}

.td-with-break {
    max-width: 27ch; /* Breite auf 20 Zeichen begrenzt */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.td-without-break {
    white-space: nowrap; /* Verhindert den Umbruch innerhalb der Zelle */
    overflow: hidden;    /* Optional: Versteckt überlaufenden Text */
    text-overflow: ellipsis; /* Optional: Zeigt "..." bei zu langem Text */
}