.header {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #535bf2;
    width: 100%;
    z-index: 25;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(100vw / 10);
    border-bottom: 1px solid #fff;
    border-radius: 0 0 35% 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-top: 0;
    margin-top: 0;
    gap: 1rem;
    font-size: 2rem;
}

.header img {
    height: 5vw;
    width: auto;
}

h1 {
    position: relative;
    font-size: calc(100vw / 23.5);
    color: #202271;
    text-shadow: 1px 1px 0 #fff,
                -1px 1px 0 #fff,
                -1px -1px 0 #fff,
                1px -1px 0 #fff,
                0 0 7px #fff;
    display: flex;
    align-items: center;
    top: -20px;
}

.word-beginning {
    color: #f4ca61;
    text-shadow: 1px 1px 0 #202271,
    -2px 2px 0 #202271,
    -2px -2px 0 #202271,
    2px -2px 0 #202271,
    0 0 7px #202271;
}